body {
    margin: 0;
    background-image: url("record.png");
    background-repeat: repeat;
}

header {
    background-color: purple;
    color: whitesmoke;
    text-align: center;
}

main {
    background-color: lightgray;
    padding: 1em;
}

